<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://static.bootcss.com/www/assets/css/site.min.css?v5" rel="stylesheet">
<script src="/static/jquery.min.js"></script>
<input type = "hidden" id = "input_page" value = {{cur_page}}>
<body>
    <div class="row" id = "div_goods_content">
    </div>
    <script src="/static/goods_content.js"></script>
</body>
</html>
